[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "*"
dash-html-components = "*"
dash-core-components = "*"
dash-table = "*"
dash-daq = "*"
requests = "*"
gunicorn = "*"
honcho = "*"

[requires]
python_version = "3.7"
